#titleLabel{
	color:#000 !important;
}
#priceLabel{
	color:#000 !important;
}
#descriptionLabel{
	color:#000 !important;
}
#imageurlLabel{
	color:#000 !important;
}
#alttextLabel{
	color:#000 !important;
}
#addressLabel{
	color:#000 !important;
}
.conteRent{
	padding-top: 25%;
	padding-bottom: 25%;
}
.conteService{
	padding-top: 25%;
}
